<!--Login-->
{%extends "home.html" %} {% block content %}

<div
  class="container h-100 d-flex justify-content-center align-items-center"
  style="margin-top: calc(60px + 3vh); margin-bottom: calc(40px); flex: 1"
>
  <div class="row row-2 bg-white align-items-center shadow rounded-2 px-5 py-4">
    <div class="p-lg-1 p-5 col-lg-6 col-12 text-center d-lg-inline d-none">
      <img src="/static/images/login.png" alt="Login" class="img-fluid" />
    </div>
    <div class="p-1 col-lg-5 col-12 ms-auto">
      <h1 class="c-primary">Login</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-floating my-3">
          <input
            name="username"
            id="id_username"
            class="w-100 form-control"
            placeholder="Username"
            required
            type="text"
          />
          <label for="id_username">Username</label>
        </div>
        <div class="form-floating my-3">
          <input
            name="password"
            id="id_password"
            class="w-100 form-control"
            placeholder="Password"
            required
            type="password"
          />
          <label for="id_password">Password</label>
        </div>
        <button class="btn btn-primary px-5 py-2 border-0" type="submit">
          Sign in
        </button>
      </form>
      <p class="text-center my-3">
        Don't have an account?
        <a class="c-teritary" href="/register">Create an account</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
