@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
:root {
  --primary: rgba(38, 150, 154, 1);
  --secondary: rgba(22, 104, 161, 1);
  --tertiary: rgba(95, 207, 127, 1);
  --white: white;
  --gray: gray;
  --danger: #dc3545;
  --light-gray: #f2f2f2;
}

.bg-home {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(22, 104, 161);
  background: linear-gradient(
    90deg,
    rgba(22, 104, 161, 1) 0%,
    rgba(38, 150, 154, 1) 36%,
    rgba(40, 153, 153, 1) 46%,
    rgba(41, 154, 153, 1) 62%,
    rgba(95, 207, 127, 1) 100%
  );
}

/* html {
  min-height: 100%;
} */
body {
  background-color: var(--white) !important;
  min-height: 100vh;
}

.navbar {
  background: rgb(22, 104, 161);
  background: linear-gradient(
    90deg,
    rgba(22, 104, 161, 1) 0%,
    rgba(38, 150, 154, 1) 36%,
    rgba(40, 153, 153, 1) 46%,
    rgba(41, 154, 153, 1) 62%,
    rgba(95, 207, 127, 1) 100%
  );
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--secondary) !important;
}

.c-primary {
  color: var(--primary) !important;
}

.c-secondary {
  color: var(--secondary) !important;
}

.c-teritary {
  color: var(--tertiary) !important;
}
.c-gray {
  color: var(--gray) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-color {
  background-color: var(--secondary) !important;
}

.bg-teritary {
  background-color: var(--tertiary) !important;
}

.nav-link:hover {
  color: lightgrey;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--tertiary) !important;
  box-shadow: 0 0 0 0.2rem rgba(95, 207, 127, 0.25) !important;
}

@media (min-width: 992px) {
  .border-tab {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 992px) {
  .custom-overflow {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-height: 50vh !important;
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: calc(100% - 30px);
  height: fit-content;
  max-width: 300px;
  max-height: 75vh;
  z-index: 10;
  border: 1px solid #a1a1a1;
  margin: auto;
  overflow-y: hidden;
}

.c-list {
  list-style: none;
}

@media (max-width: 991px) {
  .custom-padding-x {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1198px) {
  .custom-padding-x {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (min-width: 1199px) {
  .custom-padding-x {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 991px) {
  .chart-size {
    height: 60vh !important;
  }
}

@media (min-width: 992px) {
  .chart-size {
    height: 80% !important;
  }
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  background-color: var(--white) !important;
}

.primary-btn-group .btn-check:checked + .btn {
  border-color: var(--primary) !important;
  color: var(--white) !important;
  background-color: var(--primary) !important;
}
