<div id="small_table" class="overflow-y-scroll" style="height: 50vh">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {%for expense, associatings in expenses%}
      <tr>
        <td>{{expense.name}}</td>
        <td>{{expense.cost}} zł</td>
        <td>
          <i
            data-target="#details{{expense.id}}"
            class="collapse-i bi bi-plus-square-fill c-primary"
            style="cursor: pointer"
          ></i>
          <a
            href="/tab/{{tab.id}}/edit_expense/{{expense.id}}"
            class="text-decoration-none"
          >
            <i
              class="bi bi-pencil-square text-warning"
              style="cursor: pointer"
            ></i>
          </a>
          <a
            href="/tab/{{tab.id}}/remove_expense/{{expense.id}}"
            class="text-decoration-none"
          >
            <i
              class="bi bi-dash-square-fill text-danger"
              style="cursor: pointer"
            ></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="border-0 p-0" colspan="6">
          <div class="collapse" id="details{{expense.id}}">
            <div class="card border-0">
              <div class="card-body px-3 py-1">
                <div class="row align-items-center text-light bg-primary">
                  <div class="col-4">
                    <p class="p-1 mb-0">Buyer:</p>
                  </div>
                  <div class="col-8">
                    <p class="p-1 mb-0">{{expense.buyer}}</p>
                  </div>
                </div>
                <div class="row align-items-center text-light bg-primary">
                  <div class="col-4">
                    <p class="p-1 mb-0">Type:</p>
                  </div>
                  <div class="col-8">
                    <p class="p-1 mb-0">{{expense.type.name}}</p>
                  </div>
                </div>
                <div class="row align-items-center text-light bg-primary">
                  <div class="col-4">
                    <p class="p-1 mb-0">Date:</p>
                  </div>
                  <div class="col-8">
                    <p class="p-1 mb-0">{{expense.date|date:"d.m.Y"}}</p>
                  </div>
                </div>
                {%for associating in associatings%}
                <div
                  class="row border-bottom align-items-center"
                  style="background-color: #f2f2f2"
                >
                  <div class="col-6">
                    <p class="p-1 mb-0">{{associating.user}}</p>
                  </div>
                  <div class="col-6">
                    <p class="p-1 mb-0">{{associating.cost}} zł</p>
                  </div>
                </div>
                {%endfor%}
              </div>
            </div>
          </div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<div id="large_table" class="overflow-y-scroll" style="height: 50vh">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Buyer</th>
        <th>Type</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {%for expense, associatings in expenses%}
      <tr>
        <td>{{expense.name}}</td>
        <td>{{expense.cost}} zł</td>
        <td>{{expense.buyer}}</td>
        <td>{{expense.type.name}}</td>
        <td>{{expense.date|date:"d.m.Y"}}</td>
        <td>
          <i
            data-target="#large_table_details{{expense.id}}"
            class="collapse-i bi bi-plus-square-fill c-primary"
            style="cursor: pointer"
          ></i>
          <a
            href="/tab/{{tab.id}}/edit_expense/{{expense.id}}"
            class="text-decoration-none"
          >
            <i
              class="bi bi-pencil-square text-warning"
              style="cursor: pointer"
            ></i>
          </a>
          <a
            href="/tab/{{tab.id}}/remove_expense/{{expense.id}}"
            class="text-decoration-none"
          >
            <i
              class="bi bi-dash-square-fill text-danger"
              style="cursor: pointer"
            ></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="border-0 p-0" colspan="6">
          <div class="collapse" id="large_table_details{{expense.id}}">
            <div class="card border-0">
              <div class="card-body px-3 py-1">
                {%for associating in associatings%}
                <div
                  class="row border-bottom align-items-center"
                  style="background-color: #f2f2f2"
                >
                  <div class="col-6">
                    <p class="p-1 mb-0">{{associating.user}}</p>
                  </div>
                  <div class="col-6">
                    <p class="p-1 mb-0">{{associating.cost}} zł</p>
                  </div>
                </div>
                {%endfor%}
              </div>
            </div>
          </div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<script>
  let small_table = document.getElementById("small_table");
  let large_table = document.getElementById("large_table");

  function checkScreen() {
    if (screen.width < 768) {
      large_table.style.display = "none";
      small_table.style.display = "block";
    } else {
      large_table.style.display = "block";
      small_table.style.display = "none";
    }
  }
  window.onload = function () {
    checkScreen();
  };
  window.addEventListener("resize", function (event) {
    checkScreen();
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var collapseButtons = document.querySelectorAll(".collapse-i ");

    collapseButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        button.classList.toggle("bi-plus-square-fill");
        button.classList.toggle("bi-dash-square-fill");
        var target = this.dataset.target;
        var collapse = document.querySelector(target);
        if (collapse.classList.contains("show")) {
          collapse.classList.remove("show");
        } else {
          collapse.classList.add("show");
        }
      });
    });
  });
</script>
