<link rel="stylesheet" href="/static/css/home.css" />
<div class="p-1 col-lg-2 col-12 border-tab">
  <h1 class="c-primary">My Tabs</h1>
  <div class="mb-1">
    <a href="/tab/create" class="tab-link text-decoration-none">
      <div class="p-1">
        <p class="c-primary m-0">
          <i class="bi bi-plus-circle"></i>{{" "}}New Tab
        </p>
      </div>
    </a>
  </div>
  {% for tab in user_tabs %}
  <div>
    <a href="/tab/{{tab.id}}" class="text-decoration-none">
      <div class="p-1 border-bottom">
        <p class="c-primary m-0">{{ tab.name }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
