:root {
  --primary: rgba(38, 150, 154, 1);
  --secondary: rgba(22, 104, 161, 1);
  --tertiary: rgba(95, 207, 127, 1);
  --white: white;
  --gray: gray;
  --danger: #dc3545;
}

.bg-home {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(22, 104, 161);
  background: linear-gradient(
    90deg,
    rgba(22, 104, 161, 1) 0%,
    rgba(38, 150, 154, 1) 36%,
    rgba(40, 153, 153, 1) 46%,
    rgba(41, 154, 153, 1) 62%,
    rgba(95, 207, 127, 1) 100%
  );
}

/* html {
  min-height: 100%;
} */
body {
  background-color: var(--white) !important;
  min-height: 100vh;
}

.navbar {
  background: rgb(22, 104, 161);
  background: linear-gradient(
    90deg,
    rgba(22, 104, 161, 1) 0%,
    rgba(38, 150, 154, 1) 36%,
    rgba(40, 153, 153, 1) 46%,
    rgba(41, 154, 153, 1) 62%,
    rgba(95, 207, 127, 1) 100%
  );
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--secondary) !important;
}

.c-primary {
  color: var(--primary) !important;
}

.c-secondary {
  color: var(--secondary) !important;
}

.c-teritary {
  color: var(--tertiary) !important;
}
.c-gray {
  color: var(--gray) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-color {
  background-color: var(--secondary) !important;
}

.bg-teritary {
  background-color: var(--tertiary) !important;
}

.nav-link:hover {
  color: lightgrey;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--tertiary) !important;
  box-shadow: 0 0 0 0.2rem rgba(95, 207, 127, 0.25) !important;
}

@media (min-width: 992px) {
  .border-tab {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 992px) {
  .custom-overflow {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-height: 50vh !important;
  }
}

.alert {
  position: absolute;
  z-index: 999;
  top: calc(60px + 3vh);
  left: 10vw;
  right: 10vw;
  width: calc(50% - 20vw);
  height: 20vh;
}
